
<div class="card border-secondary mb-3" *ngIf="member">
    <h6 class="card-header mb-2 text-center"> <i class="bi bi-person"></i> {{member.username}}</h6>
    <div class="card-img-wrapper text-center ">
        <img src="{{member.profilePhotoUrl}}" alt="{{member.username}}">
        <ul class="list-inline member-icons animate text-center mt-1">
            <li class="list-inline-item"><i class="bi bi-person"></i></li>
            <li class="list-inline-item"><i class="bi bi-heart"></i></li>
            <li class="list-inline-item"><i class="bi bi-question-circle"></i></li>
        </ul>
    </div>
    <div class="card-body mt-2">
      <p class="card-text text-center"><strong>Recipes</strong> : {{member.recipes.length}}</p>
    </div>
  </div>