.card-img-wrapper img {
    border-radius: 73px;
    position: relative;
}
.card:hover .member-icons {
    opacity: 1;

}

.animate {
    transition: all 0.5s ease-in-out;
}


.card:hover img {
    transform: scale(1 , 1);
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    opacity: 0.85;
    
}

.card img {
    transform: scale(0.7 ,0.7);
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    opacity: 1;
    

}

.member-icons {
    position: absolute;
    bottom: -5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;

}
