.photoslide img {
    max-width: calc(120%);
    max-height: 80%;
    transform: scale(1.1 , 1.1);
    display: block;
    margin-right: auto;
    margin-left: -30px;
    overflow: hidden;
}

.photoslide {
    overflow: hidden;
}