   
    <div class="col-12 " *ngIf="member && recipe">
        <form #editrecipeform="ngForm" id="editrecipeform" (ngSubmit)="EditRecipe()" >
        <div class="mb-3 mt-2 d-flex align-items-center">
            <h1>Edit Recipe : <textarea class="form-control me-2" rows="1" name="title" [(ngModel)]="recipe.title">
            </textarea> </h1> 

            <alert type="info" *ngIf="editrecipeform.dirty">
                <strong>Changes were made , </strong> Any unsaved changes will be lost
              </alert>
        </div>
            <div>
            <button
            type="submit"
            class="me-4 mb-3 btn btn-outline-success text-white btn-lg" 
            [disabled]="!editrecipeform.dirty">Save Changes</button>
            <button
            type="button"
            class="mb-3 btn btn-outline-danger text-white btn-lg" >Delete Recipe</button>
            </div>
        <tabset class="recipe-tabs" *ngIf="recipe" >
            
                    <tab heading="Ingredients" class="tab">
                        <div class="col-6">
                        <ul class="list-group mt-3">
                            <li class="list-group-item  d-flex " style="text-align: left;" 
                                *ngFor="let ingredient of recipe.ingredients">
                                <textarea 
                                name="{{ingredient.name}}" 
                                [(ngModel)]="ingredient.name"
                                class="form-control me-2" 
                                rows="1">
                                </textarea>
                                <button class="btn btn-outline-danger btn-sm" type="button" (click)="DeleteIngredient(ingredient)" >Delete Ingredient</button>
                            </li>
                            <button class="btn btn-outline-secondary mt-2 mb-2 text-white" 
                            style="max-width: fit-content; margin-left: 32px;" type="button" (click)="AddIngredient()">
                            + Add New Ingredient</button>
                        </ul>
                       </div>

                    </tab>
                    <tab heading="Instructions" >
                        <h6 class="mt-3 ">
                            <textarea 
                            name="instructions"
                            [(ngModel)]="recipe.instructions"
                            class="form-control" 
                            rows="8"></textarea>

                        </h6>
                    </tab>
                    <tab heading="Category" >
                        <div class="col-3">
                        <h1 class="mt-3">
                            <textarea 
                            name="category"
                            [(ngModel)]="recipe.category"
                            class="form-control" 
                            rows="1"></textarea>
                        </h1>
                      </div>
                    </tab>
                     
        </tabset>
       </form>
    </div>

    