<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><i class="bi bi-egg-fried"></i> ReciWeb</a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/explore" 
               routerLinkActive="active"            
              >Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
               routerLink="/members" 
               routerLinkActive="active"       
               >ReciChefs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/myrecipes" 
               *ngIf="(this.accservice.currentusersource | async)"
               routerLinkActive="active"       
               >My Recipes</a>
          </li>
        </ul>
        <form class="d-flex" style="margin-right: 260px;">
          <input class="form-control me-sm-2" type="search" placeholder="Browse Recipes">
          <button class="btn btn-outline-secondary my-2 my-sm-0 text-light" type="submit" >Search</button>
        </form>
    </div>
    <ul class="navbar-nav" style="margin-right: 55px;">
      <li class="nav-item">
          <a class="nav-link" tooltip="Create new recipe" placement="left" containerClass="custom-tooltip"
          ><i class="bi bi-plus-square" style="font-size: 24px;" ></i>
          </a>
      </li>
      <li class="nav-item">
        <div class="dropdown" dropdown placement="bottom right"  >
        <a class="nav-link dropdown-toggle" dropdownToggle ><i class="bi bi-person" style="font-size: 24px;" ></i></a>
        <div class="dropdown-menu  dropdown-menu-right" *dropdownMenu>
            <a *ngIf="!(accservice.currentusersource | async)" class="dropdown-item" routerLink="/login" >Login</a>
            <a *ngIf="!(accservice.currentusersource | async)" class="dropdown-item" routerLink="/register">Sign up</a>
            <a *ngIf="(accservice.currentusersource | async)"  class="dropdown-item"  >Edit Profile</a>
            <a *ngIf="(accservice.currentusersource | async)"  class="dropdown-item" (click)="logout()" >Logout</a>
        </div>
        </div>
      </li>
    </ul>


  </nav>
